/* CSS Mobile Doku */
/** Autor: Petra Weiss **/
/** Datum: 4.2.14 **/

@namespace s "library://ns.adobe.com/flex/spark";

/* Typo einbinden */
@font-face {
	src:url("../fonts/Nunito-Bold.ttf");
	fontFamily: NunitoBold;
	embedAsCFF: true;
}
@font-face {
	src:url("../fonts/OpenSans-Regular.ttf");
	fontFamily: OpenSansRegular;
	embedAsCFF: true;
}
@font-face {
	src:url("../fonts/fontawesome-webfont.ttf");
	fontFamily: FontAwesome;
	embedAsCFF: true;
}


/* Header-Leiste */
s|ActionBar {
/*	chromeColor: #2f2f2f; */
	skinClass: ClassReference("assets.skins.CustomActionBarSkin");
/*	chromeColor:PropertyReference("someColorConstant"); */ /* Variable für Farbe */
	titleAlign: left;
	titleLeft: 0;
	color: #e6e9e9;
}

.headernav-btn {
	fontFamily: FontAwesome;
	fontSize: 85px;
	paddingLeft: 0;
}

.headernav-title {
	fontFamily: NunitoBold;
	fontSize: 36px;
	typographicCase: uppercase;
}

s|View {
	backgroundColor: #f7f8f8;
}

s|Application {
	backgroundColor: #f7f8f8;
}

s|List {
    fontFamily: NunitoBold;
	fontSize: 36px;
	typographicCase: uppercase;
	alpha: 0.95;
	alternatingItemColors: #2f2f2f; /* Hintergrund alle Listenpunkte */
	selectionColor: #e6e9e9; /* aktiver Navigationspunkt */
	downColor: #e6e9e9; /* "onClick/onPress" */
	contentBackgroundColor: #e6e9e9;
	color: #e6e9e9;
}
.list {
	padding: 60px;
}

s|Label {
	color: #e6e9e9;
}