/* CSS Mobile Doku */
/** Autor: Petra Weiss **/
/** Datum: 10.2.14 **/

@namespace s "library://ns.adobe.com/flex/spark";

/* Typo einbinden */
@font-face {
	src:url("../fonts/Nunito-Bold.ttf");
	fontFamily: NunitoBold;
	embedAsCFF: true;
}
@font-face {
	src:url("../fonts/OpenSans-Regular.ttf");
	fontFamily: OpenSansRegular;
	embedAsCFF: true;
}
@font-face {
	src:url("../fonts/fontawesome-webfont.ttf");
	fontFamily: FontAwesome;
	embedAsCFF: false;
}

/* ***** ***** ***** */
/* Global */
/* Header-Leiste */
.headernav-title {
	fontFamily: NunitoBold;
	fontSize: 36px;
	typographicCase: uppercase;
	color: #f7f8f8;
	verticalCenter: 0;
}

s|ActionBar s|Group#navigationGroup s|Button.headernav-nav {
	skinClass: ClassReference("assets.skins.HeaderBtn_Nav_Skin"); 
}
s|ActionBar s|Group#actionGroup s|Button.headernav-sbh {
	skinClass: ClassReference("assets.skins.HeaderBtn_SHW_Skin"); 
}
s|ActionBar s|Group#actionGroup s|Button.headernav-suche {
	skinClass: ClassReference("assets.skins.HeaderBtn_Suche_Skin"); 
}

s|View {
	backgroundColor: #f7f8f8;
}

s|Application {
	backgroundColor: #f7f8f8;
}

/* ***** ***** ***** */
/* Navigation */
s|List#componentsList {
    fontFamily: NunitoBold;
	fontSize: 36px;
	typographicCase: uppercase;
	alternatingItemColors: #2f2f2f; /* Hintergrund alle Listenpunkte */
	selectionColor: #f7f8f8; /* aktiver Navigationspunkt */
	downColor: #f7f8f8; /* "onClick/onPress" */
	contentBackgroundColor: #f7f8f8;
	color: #f7f8f8;
	contentBackgroundAlpha: 0.5; /* Alpha der Navigation */
}

/* ***** ***** ***** */
/* Home-Screen */
.homelabel {
	fontFamily: NunitoBold;
	fontSize: 36px;
	typographicCase: uppercase;
	color: #1d1d1b;
}
.homebtn-ibn {
	skinClass: ClassReference("assets.skins.HomeBtn_IBN_Skin"); 
}
.homebtn-gzb {
	skinClass: ClassReference("assets.skins.HomeBtn_GZB_Skin"); 
}
.homebtn-reinigung {
	skinClass: ClassReference("assets.skins.HomeBtn_Reinigung_Skin"); 
}
.homebtn-entkalkung {
	skinClass: ClassReference("assets.skins.HomeBtn_Entkalkung_Skin"); 
}
.homebtn-sbh {
	skinClass: ClassReference("assets.skins.HomeBtn_SBH_Skin"); 
}
.homebtn-hotline {
	skinClass: ClassReference("assets.skins.HomeBtn_Hotline_Skin"); 
}

/* ***** ***** ***** */
/* Detail-Screens */
.slider-title {
	fontFamily: NunitoBold;
	fontSize: 60px;
	typographicCase: uppercase;
	color: #1d1d1b;
}
.sliderbtn {
	skinClass: ClassReference("assets.skins.Btn_Slider_Skin"); 
}
.sliderbtn-active {
	skinClass: ClassReference("assets.skins.BtnActive_Slider_Skin"); 
}
s|List#sliderList {
	fontFamily: OpenSansRegular;
	fontSize: 48;
	color: #1d1d1b;
	alternatingItemColors: #f7f8f8; /* Hintergrund alle Listenpunkte */
	selectionColor: #f7f8f8; /* aktiver Navigationspunkt */
	downColor: #f7f8f8; /* "onClick/onPress" */
	contentBackgroundColor: #f7f8f8;
}
