/* CSS Mobile Doku */
/** Autor: Petra Weiss **/
/** Datum: 4.2.14 **/

@namespace s "library://ns.adobe.com/flex/spark";

/* Typo einbinden */
@font-face {
	src:url("../fonts/Nunito-Bold.ttf");
	fontFamily: NunitoBold;
	embedAsCFF: true;
}
@font-face {
	src:url("../fonts/OpenSans-Regular.ttf");
	fontFamily: OpenSansRegular;
	embedAsCFF: true;
}
@font-face {
	src:url("../fonts/fontawesome-webfont.ttf");
	fontFamily: FontAwesome;
	embedAsCFF: true;
}

/* Global */
s|View {
	backgroundColor: #f7f8f8;
}

s|Application {
	backgroundColor: #f7f8f8;
}

s|Label {
	fontFamily: NunitoBold;
	fontSize: 36px;
	typographicCase: uppercase;
	color: #1d1d1b;
}

.headernav-btn {
	fontFamily: FontAwesome;
	fontSize: 85px;
	paddingLeft: 0;
}

.headernav-title {
	fontFamily: NunitoBold;
	fontSize: 36px;
	typographicCase: uppercase;
	color: #e6e9e9;
}

/* Navigation */
s|List {
    fontFamily: NunitoBold;
	fontSize: 36px;
	typographicCase: uppercase;
	alternatingItemColors: #2f2f2f; /* Hintergrund alle Listenpunkte */
	selectionColor: #e6e9e9; /* aktiver Navigationspunkt */
	downColor: #e6e9e9; /* "onClick/onPress" */
	contentBackgroundColor: #e6e9e9;
	color: #e6e9e9;
	contentBackgroundAlpha: 0.5; /* Alpha der Navigation */
}

/* Home-Screen */
.homebtn-ibn {
	skinClass: ClassReference("assets.skins.HomeBtn_IBN_Skin"); 
}
.homebtn-gzb {
	skinClass: ClassReference("assets.skins.HomeBtn_GZB_Skin"); 
}
.homebtn-reinigung {
	skinClass: ClassReference("assets.skins.HomeBtn_Reinigung_Skin"); 
}
.homebtn-entkalkung {
	skinClass: ClassReference("assets.skins.HomeBtn_Entkalkung_Skin"); 
}
.homebtn-sbh {
	skinClass: ClassReference("assets.skins.HomeBtn_SBH_Skin"); 
}
.homebtn-hotline {
	skinClass: ClassReference("assets.skins.HomeBtn_Hotline_Skin"); 
}